html {
    background: url(background.jpg);
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

img,video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 95%;
    max-height: 90%;
}

.notice {
    background: #5f5f60;
    color: #fff;
    text-align: center;
    display: block!important;
    padding: 1rem 1rem!important;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 16px;
    text-decoration: none;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #ffffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.title {
    font-size: 80;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 85vh;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.modal {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 500px;
    border-radius:6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}

.modal h2 {
    margin-top: 0;
}

.modal .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #777;
}
.modal .close:hover {
    opacity: 1;
}
.modal .content {
    max-height: 400px;
    overflow: auto;
}
.modal p {
    margin: 0 0 1em;
    text-align: center;
}
.modal p:last-child {
    margin: 0;
}
.overlay h2 {
    text-align: center;
}
table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}